<footer class="footer">
  <div class="container">
    <span class="align-middle">
      <a href="https://github.com/cwy007/rmall" target="_blank" class="lead text-muted">
        <%= fa_icon "github-square", text: "github source code", class: "fa-2x align-middle" %>
      </a>
    </span>
  </div>
</footer>
