<h1 class="text-center mt-3">Product List</h1>

<div class="text-right my-3">
  <%= link_to "Add new product", new_admin_product_path, class: "btn btn-primary btn-lg" %>
</div>

<div class="table-responsive">
  <table class="table table-bordered">
    <thead class="thead-light">
      <tr>
        <th>#</th>
        <th>Product image</th>
        <th>Title</th>
        <th>Price</th>
        <th>Options</th>
      </tr>
    </thead>
    <tbody>
      <%= render @products %>
    </tbody>
  </table>
</div>
